html, body {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: grey;
	padding: 0;
	margin: 0;
}

.map {
	width: 80%;
	height: 100%;
}

.pane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    background: ghostwhite;
    border-left: 5px solid lightsteelblue;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

.ol-mouse-position {
	top: inherit;
	bottom: 210px;
	left: 8px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 2px;
	width: 100px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.ol-scale-line {
    left: 8px;
	background-color: rgba(255, 255, 255, 0.4);
	font-family: Arial, sans-serif;
    bottom: 180px;
	color: 'red';
}

div.ol-scale-line {
	color: 'red';
}

div.ol-scale-line>div{
   border-color: black;
   color: black;
   font-size: 12px;
}


.ol-overviewmap-map .ol-custom-overviewmap {
    position: absolute;
	border: none;
}

.ol-custom-overviewmap .ol-overviewmap-box {
        border: 2px dashed red;
}

.ol-overviewmap-map .ol-custom-overviewmap {
        border: none;
		padding: none;
        width: 200px;
		height: 200px;
		bottom: 50px;
      }
	  

.ui-slider-handle {
    outline: none;
}

.ol-attribution > ul {
    font-size: 1.6rem;
}

.overlay #js-overlay {
    display: none;
    position: absolute;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    padding: 5px;
    border-radius: 10px;
    border: 100px solid #ccc;
    width: 180px;
    top: -76px;
    left: -90px;
}

.overlay:after {
    top: 100%;
    border: 10px solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-top-color: rgba(255,255,255,0);
}

 .overlay  {
    float: right;
} 





